@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --login-bg-color: #F3E4E1;
    --dark-green: #0E927D;
    --font-family-welcome: "PT Serif", serif;
    --font-family-login-text: "Work Sans", sans-serif;
    --airbean-brown: #2F2926;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #38846d;
    margin: auto auto;
    width: 375px;
}

.landingPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.landingPage::before, .landingPage::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover; 
    z-index: 10;
}

.landingPage::before {
    left: 0;
    background-image: url(../Assets/intro-graphic-left.svg);
    background-position: bottom right; 
}

.landingPage::after {
    right: 0;
    background-image: url(../Assets/intro-graphic-right.svg);
    background-position: bottom right;
}

.landingPage_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 257px;  
    z-index: 20;
    position: relative;
}

.nav-menu {
    display: flex;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.hamburger-menu {
    align-self: center;
    margin: auto;
}

.content-wrapper {
    width: fit-content;
    background-color: var(--airbean-brown);
    padding-bottom: 1rem;
}

.header {
    background-image: url('../Assets/graphics-header.svg');
    background-repeat: no-repeat;
    padding: 1rem 0rem 1rem 1rem;
    height: 115px;
}

.login-form {
    display: flex;
    width: 90%;
    margin: auto;
    background-color: var(--login-bg-color);
    margin-top: -25px;
    border-radius: 3px;
}

.login-form__inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 1rem 1rem 1rem;
}

.login-form__small-logo {
    width: 30px;
    height: 30px;
    align-self: center;
    margin-top: 1rem;
}

.login-form__welcome {
    text-align: center;
    font-family: var(--font-family-welcome);
    font-size: 32px;
    color: var(--airbean-brown);
}
.login-form__additional-text {
    text-align: center;
    font-family: var(--font-family-login-text);
    font-weight: 400;
    font-size: 16px;
    color: var(--airbean-brown);
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    margin-top: 1rem;
    margin-bottom: .2rem;
    display: flex;
    align-items: center;
    font-size: large;
    font-family: var(--font-family-login-text);
    color: var(--airbean-brown);
}

.login-form__text-field {
    padding: 1rem;
    border: 2px solid black;
    border-radius: 6px;
    background-color: var(--login-bg-color);
    color: var(--airbean-brown);
}
.login-form__text-field:focus {
    background-color: var(--login-bg-color);
}

.login-form__gdpr-btn, .login-form__register-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: .5rem;
}

.login-form__gdpr-btn:checked, .login-form__register-btn:checked {
    content: '';
    clip-path: circle(50% at 50% 50%);
    background-color: var(--dark-green);
    padding: 2px;
}

.login-form__register {
    font-family: var(--font-family-login-text);
    color: var(--airbean-brown);
    margin-top: .5rem;
}

.login-form__login-btn {
    font-weight: 600;
    margin-top: 1rem;
    border: none;
    background-color: var(--airbean-brown);
    color: white;
    border-radius: 5rem;
    padding: 2rem 2rem 2rem 2rem;
    cursor: pointer;
    font-size: larger;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: var(--font-family-welcome);
}
.productpage{
    background-color: rgba(253, 225, 230, 0.617);
    margin: 0;
    padding: 0;
}

.productpage__buttons {
    display: flex;
    justify-content: space-between;
    background-image: url('../Assets/graphics-header.svg'); 
    height: 100px;
    width: 100%;
}



.productpage__navbutton{
    height: 15px;
    width: 15px;
    padding: 15px;
    margin: 10px;
    background-color: rgb(251, 251, 251);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.productpage__cartbutton{
    height: 15px;
    width: 15px;
    padding: 15px;
    margin: 10px;
    background-color: rgb(43, 31, 31);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productpage__menytitle {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0; 
}


.edit-menu-button-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.edit-menu-btn {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}


.edit-menu-btn:hover {
    background-color: #45a049;
}


.edit-menu-btn:active {
    background-color: #3e8e41;
}

.d-none {
    display: none;
}



.footer{
    position: relative; 
    bottom: 0; 
    width: 100%; 
    height: 80px; 
    background-image: url('../Assets/graphics-footer.svg');
    background-size: cover; 
}


.menu-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0.5rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.menu-list__list-item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem; 
}

.menu-list__price {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
}

.menu-list__coffe-title {
    font-size: 1.8rem;
    margin: 0; 
}

.menu-list__about-coffee {
    font-size: 1rem;
    margin: 0; 
    width: 65%;
}

.menu-list__add-button {
    width: 20px;
    height: 20px;
    padding: 8px; 
    background-color: rgb(24, 23, 23); 
    border-radius: 50%; 
    display: inline-block; 
    vertical-align: center; 
    
}

