@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Colors */
    --airbean-pink: #F3E4E1;
    --airbean-green: #0E927D;
    --airbean-dark-green: #38846D;
    --airbean-brown: #2F2926;
    --airbean-orange: #E5674E;
    /* Fonts */
    --font-family-heading-text: "PT Serif", serif;
    --font-family-default: "Work Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 400px;
    font-family: var(--font-family-default);
    color: var(--airbean-brown);
}

.content-wrapper {
    margin: 0 auto;
}

.content-wrapper--brown {
    background-color: var(--airbean-brown);
}

.content-wrapper--pink {
    background-color: var(--airbean-pink);
}

/* Header */
.header {
    background-image: url('../Assets/graphics-header.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1rem 1rem 1rem 1rem;
    height: 115px;
    display: flex;
    justify-content: space-between;
}

.header__nav-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__hamburger-menu {
    height: 54px;
    width: 54px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    background-image: url('../Assets/navicon.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

/* Endast på product-page */
.header__cart-icon {
    height: 54px;
    width: 54px;
    border-radius: 50%;
    background-color: var(--airbean-brown);
    cursor: pointer;
    background-image: url('../Assets/bag.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}


/* index.html */

.landingpage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    background: var(--airbean-green);
}

.landingpage::before, .landingpage::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover; 
    z-index: 10;
}

.landingpage::before {
    left: 0;
    background-image: url(../Assets/intro-graphic-left.svg);
    background-position: bottom right; 
}

.landingpage::after {
    right: 0;
    background-image: url(../Assets/intro-graphic-right.svg);
    background-position: bottom right;
}

.landingpage__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 257px;  
    z-index: 20;
    position: relative;
}

/* login.html */

.login-form {
    display: flex;
    width: 90%;
    margin: auto;
    background-color: var(--airbean-pink);
    margin-top: -25px;
    border-radius: 3px;
}

.login-form__inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 1rem 1rem 1rem;
}

.login-form__small-logo {
    width: 30px;
    height: 30px;
    align-self: center;
    margin-top: 1rem;
}

.login-form__welcome {
    text-align: center;
    font-family: var(--font-family-heading-text);
    font-size: 32px;
    color: var(--airbean-brown);
}
.login-form__additional-text {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}

.login-form__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.login-form__label {
    margin-top: 1rem;
    margin-bottom: .2rem;
    display: flex;
    align-items: center;
    font-size: large;
}

.login-form__text-field {
    padding: 1rem;
    border: 2px solid black;
    border-radius: 6px;
    background-color: var(--airbean-pink);
}

.login-form__text-field:focus {
    background-color: var(--airbean-pink);
}

.login-form__gdpr-btn, 
.login-form__register-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: .5rem;
}

.login-form__gdpr-btn:checked, 
.login-form__register-btn:checked {
    content: '';
    clip-path: circle(50% at 50% 50%);
    background-color: var(--airbean-green);
    padding: 2px;
}

.login-form__register {
    color: var(--airbean-brown);
    margin-top: .5rem;
}

.login-form__login-btn {
    font-weight: 600;
    margin-top: 1rem;
    border: none;
    background-color: var(--airbean-brown);
    color: white;
    border-radius: 5rem;
    padding: 2rem 2rem 2rem 2rem;
    cursor: pointer;
    font-size: larger;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: var(--font-family-heading-text);
}

/* ProductPage.html */
.productpage__cart {
    background-color: #ffffff;
    width: 341px;
    position: absolute;
    left: 50%;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    font-family: var(--font-family-heading-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .5rem;
}

.productpage__arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid white;
    position: absolute;
    right: 0.7rem;
    top: -0.8rem;
}

.productpage__cart-title {
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
}

.productpage__cart-list {
    list-style-type: none;
    margin-top: 2.5rem;
}

.productpage__cart-item {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 296px;
    margin-bottom: 1.5rem;
}

.productpage__cart-item-inner-left {
    display: flex;
    flex-direction: column;
}

.productpage__cart-item-inner-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productpage__cart-item-inner-right span {
    font-size: 14px;
    padding: .1rem;
    font-weight: 800;
}
.productpage__cart-item-inner-right i {
    font-size: .5rem;
}

.productpage__cart-item-title {
    font-size: 1.2rem;
}

.productpage__cart-item-price {
    font-size: .75rem;
    font-family: var(--font-family-default);
}

.productpage__price-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 4rem;
}

.productpage__price-section-title, 
.productpage__price {
    font-size: 1.5rem;
    font-family: var(--font-family-heading-text);
}

.productpage__price-section-info {
    font-size: 12px;
    font-family: var(--font-family-default);
}

.productpage__cart-button {
    margin: 2.5rem 0;
    background-color: var(--airbean-brown);
    width: 248px;
    color: white;
    border-radius: 4rem;
    padding: .5rem;
    font-size: 1.5rem;
    font-family: var(--font-family-heading-text);
    font-weight: 600;
    cursor: pointer;
}

/* productpage Menu */

.productpage__coffemenu-title {
    font-family: var(--font-family-heading-text);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0; 
}

.menu-list {
    min-height: 66vh;
    padding: 0;
    margin: 10px;
    list-style: none;
}

.menu-list__list-item {
    display: flex;
    align-items: center; 
    margin-bottom: 20px;
}


.menu-list__button {
    width: 28px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
    padding: 6px;
    margin: 8px;
    cursor: pointer;
}

.menu-list__button--add {
    background-color: #2F2926;
}

.menu-list__button--remove {
    background-color: #FF0000;

}

.menu-list__info-wrapper{
    display: flex;
    flex-direction: column;
}

.menu-list__coffe-title {
    font-family: var(--font-family-heading-text);
    font-size: 1.3rem;
    margin: 0;
    color: black;
    margin-left: 2px;
}

.menu-list__price {
    font-family: var(--font-family-heading-text);
    font-size: 1.4rem;
    font-weight: 550;
    margin-left: auto; 
    margin-right: 10px;
    color: black;
    text-wrap: nowrap;
}

.menu-list__about-coffee {
    font-size: 0.8rem;
    margin: 0;
    color: black;
    max-width: 85%;
    margin-left: 2px;
}


/* Admin-formulär*/
.edit-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.edit-menu__button,
.edit-menu__submit-button {
    background-color: #4CAF50; 
    background-color: var(--airbean-dark-green); 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.edit-menu__button:hover,
.edit-menu__submit-button:hover {
    background-color: #45a049;
}

.edit-menu__button:active {

    background-color: var(--airbean-green);
}

.edit-menu__button--red {
    background-color: red;
}

.edit-menu__button--red:hover {
    background-color: rgb(216, 9, 9);
}

.edit-menu__form {
    margin-top: 2rem;
    display: grid;
    max-width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "subtitle subtitle subtitle"
        "name name price"
        "short short short"
        "long long long"
        "picture picture picture"
        ". button .";
    column-gap: .5rem;
}

.edit-menu__subtitle {
    align-self: center;
    grid-area: subtitle;
}

.edit-menu__label {
    margin: .5rem 0;
    align-items: start;
    display: flex;
    flex-direction: column;
    
}
.edit-menu__label--name {
    grid-area: name;
}

.edit-menu__label--price {
    grid-area: price;
}

.edit-menu__label--short {
    grid-area: short;
}

.edit-menu__label--long {
    grid-area: long;
}

.edit-menu__label--picture {
    grid-area: picture;
}

.edit-menu__input-field {
    padding: .5rem;
    width: 100%;
}

.edit-menu__input-field--long {
    min-height: 120px;
}

.edit-menu__submit-button {
    margin-top: 2rem;
    grid-area: button;
}

.d-none {
    display: none;
}

.footer {
    width: 100%; 
    height: 80px; 
}

.footer--image {
    background-image: url('../Assets/graphics-footer.svg');
    background-size: cover;
    background-position: center;
    background-size: cover;
}

.footer--brown {
    height: 30px; 
    background-color: var(--airbean-brown);
}

/* Profile page styling */

.profile__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.profile__img {
    height: 100px;
    border-radius: 50%;
}

.profile__name {
    color: var(--airbean-pink);
    font-family: var(--font-family-heading-text);
    font-size: large;
}

.profile__email {
    color: var(--airbean-pink);
    font-family: var(--font-family-default);
    font-size: small;
    font-weight: 400;
}

.profile__edit--btn {
    border: none;
    background-color: var(--airbean-brown);
    color: var(--airbean-pink);
    font-family: var(--font-family-default);
    border-bottom: 2px solid var(--airbean-pink);
    cursor: pointer;
}

.edit__form {
    color: var(--airbean-pink);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}

.edit__form--input {
    background-color: var(--airbean-brown);
    border-radius: 5px;
    border: 1px solid var(--airbean-pink);
    padding: 1rem;
    color: var(--airbean-pink);
}

.edit__form--btn {
    border: none;
    border-radius: 1rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    margin-top: 1rem;
    background-color: var(--airbean-pink);
    font-family: var(--font-family-heading-text);
    font-weight: 600;
    font-size: larger;
    cursor: pointer;
}

#editFormContainer {
    display: none;
}

.orderhistory {
    margin: 1.5rem;
}

.orderhistory__title {
    color: var(--airbean-pink);
    margin-bottom: 1rem;
}

.orderhistory__first--order {
    color: var(--airbean-pink);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid rgba(255, 255, 255, 0.196);
    gap: .2rem;
    padding: 0.2rem 0rem 0.2rem 0rem;
}

.orderhistory__second--order {
    color: var(--airbean-pink);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid rgba(255, 255, 255, 0.196);
    gap: .2rem;
    padding: 0.2rem 0rem 0.2rem 0rem;
}

.orderhistory__third--order {
    color: var(--airbean-pink);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid rgba(255, 255, 255, 0.196);
    gap: .2rem;
    padding: 0.2rem 0rem 0.2rem 0rem;
}

.orderhistory__date {
    display: flex;
    justify-content: end;
}

.orderhistory__price {
    display: flex;
    justify-content: end;
}

.orderhistory__total {
    color: var(--airbean-pink);
    font-family: var(--font-family-default);
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding-top: .2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.60);
    margin-bottom: 5rem;
}

/* status page */

.status-page__body{
    margin: 0 auto;
    padding: 0;
    max-width: 375px;
    background-color: rgb(207, 108, 80);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.status-page__ordernumber-drone{
 margin: 3.5rem;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 
 

}

.status-page__ordernumber{
    margin-bottom: 4rem;
}
.status-page__drone{
    margin: 1rem;
    
    
}

.status-page__title-delivery{
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 340px;
   
}

.status-page__title{
    font-size: 2.3rem;
    padding: 1rem;
    text-align: center;
   

}

.status-page__delivery-time{
    font-size: 1.5rem;
    padding: 2rem;

}

.status-page__button{
    background-color: white; 
    color: rgb(0, 0, 0);
    padding: 12px 40px;
    text-align: center;
    display: inline-block;
    font-size: 27px;
    margin: 20px 10px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    font-weight: 550;
    margin-bottom: 5rem;
    
}

.status-page__button:hover{
    background-color: rgb(225, 225, 250);

}

